
.box-presentation
{
	border:1px solid white;
	background : rgba(100,100,100,0.2);
	margin-bottom: 15px;
}
#about_carousel
{
	width: 100%;
    height: 400px;
}

.partner-line
{
	background:  url("/static/ressources/back1.png") no-repeat top center scroll;
	background-size: cover;
}
.logo-rod
{
	    height: 100px;
    position: fixed;
    top: -35px;
    left: 0px;
    width: 200px;
    z-index: 123123123;
}
.biography_line
{
	background:  url("/static/ressources/back2.png") no-repeat top center scroll;
	background-size: cover;
}
footer
{
	background:  url("/static/ressources/back2.png") no-repeat top center scroll;
	background-size: cover;
}
/* ------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------ */
.box-album
{
	
}
.box-album img
{
	border: 1px solid black;
	padding:1px;
	max-height: 150px;
	margin: 0 auto;
}
.rod_line2 
{
	background: url("/static/ressources/offshoot.png") no-repeat top center scroll;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	padding-top: 20px;
	padding-bottom:20px;
}
.box-video
{
	border: 1px solid white;
	margin-bottom: 5px;
	height: auto;
}
.insta
{
	height: 500px;
	overflow-y: scroll;
}
.insta .embed-responsive-item
{
	display: block !important;
	position:inherit !important;
}

.fb-page
{
	height: 500px;
}
      .gal {
  -ms-column-count: 3; 
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
        padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 25px;
    border: 1px solid rgba(100,100,100,0.6);
    background-color: rgba(150,150,150,0.6);
  } 
  .gal img{ width: 100%; padding: 7px 0;}

img {
  opacity: 1;
  transition: opacity 0.3s;
}

img[data-src] {
  opacity: 0;
}


@media (max-width: 500px) {
      .gal {
      -ms-column-count: 1; 
      -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
  }