<div class="container">
  <h2>Nos partenaires</h2>
  <div class="row">
    <div class="gal">
        <img class="img-fluid" src="/static/ressources/logo-endorsement/1.png" />
        <img class="img-fluid" src="/static/ressources/logo-endorsement/2.jpg" />
        <img class="img-fluid" src="/static/ressources/logo-endorsement/3.png" />
        <img class="img-fluid" src="/static/ressources/logo-endorsement/4.jpg" />
        <img class="img-fluid" src="/static/ressources/logo-endorsement/5.png" />
        <img class="img-fluid" src="/static/ressources/logo-endorsement/6.png" />
      </div>
  </div>
</div>