  <div class="container">
    <h2>Follow us on Socials Media</h2>
    <!--<div class="row">
        
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
              <i class="fa fa-google-plus fa-fw"></i>
              <span class="network-name">Google+</span>
            </a>
          </li>
        </ul>
    </div>-->
    <div class="row">
      <div class="col-md-6">
        <div class="fb-page" 
          data-tabs="timeline,events,messages"%
          data-href="https://fr-fr.facebook.com/RiseOfDoomOfficial"  data-width="380" 
          data-hide-cover="false">
        </div>
      </div>
      <div class="col-md-6 insta">
          <div class="box-video embed-responsive">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/ksPw6QZOW7w" allowfullscreen></iframe>
          </div>
          <div class="box-video embed-responsive">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/7OCyAGJnFzI" allowfullscreen></iframe>
          </div>
          <div class="box-video embed-responsive">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sft3y5hzvDk" allowfullscreen></iframe>
          </div>
          <div class="box-video embed-responsive">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vS0cUA6nVcc" allowfullscreen></iframe>
          </div>
          <div class="box-video embed-responsive">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2aR55emDPbo" allowfullscreen></iframe>
          </div>
      </div>
    </div>
  </div>